.error {
  color: red;
  text-align: left;
  font-size: 0.8rem;
}

.form-container{ 
  margin: 0 auto;
  width: 23%;
  margin-top: 4cm;
    label{
      text-align: left;
    }
    input{
      width: 95%;
    }
    button{
      margin-right: 10px;
      margin-top: 20px;
      padding: 5px;
    }
}
